.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166; /* #212121 with opacity set to 40%*/
}

.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards {
    padding: 20px 0 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
