.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  border-radius: 8px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-color: #fff;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #212121;
  opacity: 0.7;
}

.modal__input {
  max-width: 630px;
  padding: 16px 12px;
  border: 1px solid #21212140;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__submit-btn {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  width: 156px;
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    margin: 10px 0 34px;
    font-size: 20px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
