.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 46px;
  background-color: #fff;
  position: fixed;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 80px;
}

.nav__logo {
  width: 94px;
  height: 26px;
}
